@import url(general.css);
@import url(resp-murals.css);

$accent-color: rgb(201, 54, 70);

header.top {
    margin: 2rem;
    display: grid;
    place-items: center;

    img {
        width: clamp(15rem, 20vw, 325px);
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1vw);
    }
}

.arrow-section {
    display: grid;
    place-items: center;
    background-image: url(../images/Murals/introduction.png);
    // background-size: clamp(500px, 100%, 1894px), clamp(100px, 100%, 663px);
    background-size: cover;
    background-position: center;
    height: 35vw;

    a {
        display: block;
        position: relative;
        bottom: 2vw;
        animation: slide-top 1s ease-in-out infinite alternate;

        img {
            width: 4vw;
        }
    }
}

#about {
    .about {
        display: grid;
        place-items: center;
        height: 5em;
        background-color: $accent-color;
        color: white;
    }

    article {
        margin-top: 10vh;
        margin-bottom: 10vh;
        display: flex;

        main {
            margin-left: clamp(10vw, 15vw, 25vw);
            margin-right: 8vw;

            .zheldor {
                display: flex;
                width: fit-content;
                margin-bottom: 1.5em;
                padding: 0.7em;
                border-radius: 2rem;
                border: 2px solid black;

                img {
                    display: inline;
                    height: 1.3em;
                    margin-right: 0.5em;
                }
            }

            h1 {
                width: 7em;
                margin-bottom: 2.5rem;
            }

            p {
                width: 30vw;
                line-height: 1.5em;
                text-align: justify;
                margin-bottom: 1em;
            }

            .buttons {
                margin-top: 1em;
                display: flex;
                justify-content: space-between;
            }

            button {
                padding: 1em;
                border: none;
                border-radius: 2em;
                background-color: $accent-color;
                color: white;
                font-size: clamp(0.8rem, 1vw, 1vw);
                cursor: pointer;

                &[data-modal-target] {
                    border: 2px solid black;
                    background-color: white;
                    color: black;
                }
            }
        }

        img.mural-aside {
            width: 34vw;
            height: 53vw;
        }
    }
}

#map {
    display: grid;
    justify-items: center;
    margin-bottom: 5vw;

    .map {
        width: 100vw;
        display: grid;
        place-items: center;
        height: 5em;
        background-color: $accent-color;
        color: white;
        margin-bottom: 5vh;
    }

    .else-wrapper {
        display: flex;
        width: 80vw;
        flex-direction: row-reverse;
        gap: 20px;
    }

    .searchbar {
        width: 20vw;

        form {
            width: 20vw;
            margin-bottom: 20px;
        }

        .search-results {
            width: clamp(20em, 20vw, 20vw);
            list-style-type: none;
        }
    }

    .map-wrapper {
        position: relative;
        width: 60vw;

        .bg {
            z-index: -1;
            width: 100%;
        }

        .map-point {
            position: absolute;
            width: 1vw;
            cursor: pointer;
            transition: all 0.3s cubic-bezier(.66, .23, .09, 1.4);

            &:hover {
                filter: drop-shadow(3px 4px 2px $accent-color);
                transform: translateY(-3px);
            }
        }
    }
}


.modal {
    position: fixed;
    overflow: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    padding: 10vw;

    &.active {
        transition: all 0.3s ease-in-out;
        transform: scale(1);
    }

    h3 {
        position: absolute;
        left: 0;
        color: white;
        background-color: $accent-color;
        padding-right: 5vw;
        text-align: right;
    }

    .img-main {
        position: absolute;
        left: 7vw;
        z-index: -1;
    }

    .img-aside {
        position: absolute;
        z-index: -1;
    }

    button {
        position: absolute;
        right: 10vw;
        height: 5em;
        line-height: 5em;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: clamp(.8rem, .8vw, .8vw);
        height: clamp(3em, 10vh, 10vh);
        line-height: clamp(3em, 10vh, 10vh);
        font-weight: 500;
        transition: all 0.3s cubic-bezier(.66, .23, .09, 1.4);

        &:hover {
            transform: translateY(-4px);
        }
    }

    article {
        header {
            width: fit-content;

            h2 {
                text-align: right;
            }
        }

        p {
            text-align: justify;
            line-height: 1.5em;
            margin-bottom: 1.5em;
        }
    }
}

[data-modal-target="#kolh4"] {
    top: 53%;
    left: 50%;
}

[data-modal-target="#kolh8"] {
    top: 43%;
    left: 50%;
}

[data-modal-target="#lug2_mon"] {
    top: 28%;
    left: 67%;
}

[data-modal-target="#pion31"] {
    top: 29%;
    left: 64.5%;
}

[data-modal-target="#pion29_hiv"] {
    top: 33%;
    left: 64%;
}

[data-modal-target="#lug2_gor"] {
    top: 32%;
    left: 66.6%;
}

[data-modal-target="#pion29_run"] {
    top: 33%;
    left: 62%;
}
